<robot name="ellipse_peg">
    <link name="ellipse_peg">
        <visual>
            
            <geometry>
                <mesh filename="../mesh/factory_insertion/ellipse_hole.obj" scale="1.000000 1.000000 1.0" />
            </geometry>
        </visual>
        <collision>
            
            <geometry>
                <mesh filename="../mesh/factory_insertion/ellipse_hole.obj" scale="1.000000 1.000000 1.0" />
            </geometry>
                        <sdf resolution="256" />

        </collision>
    </link>
</robot>