<robot name="round_hole_2in_sim_loose">
    <link name="round_hole_2in_sim_loose">
        <visual>
            
            <geometry>
                <mesh filename="../mesh/factory_insertion/green_round_hole_2in.obj" scale="1.000000 1.000000 1.0" />
            </geometry>
        </visual>
        <collision>
            
            <geometry>
                <mesh filename="../mesh/factory_insertion/green_round_hole_2in.obj" scale="1.000000 1.000000 1.0" />
            </geometry>
            <sdf resolution="256" />
        </collision>
    </link>
</robot>