<?xml version="1.0"?>
<robot name="green_round_hole_1_5in">
    <link name="green_round_hole_1_5in">
        <visual>
            <!--origin xyz="0 0 0.01905" rpy="0 1.57079632679 0"-->
            <geometry>
                <mesh filename="../mesh/factory_insertion/green_round_hole_1_5in.obj"/>
            </geometry>
        </visual>
        <collision>
            <!--origin xyz="0 0 0.01905" rpy="0 1.57079632679 0"-->
            <geometry>
                <mesh filename="../mesh/factory_insertion/green_round_hole_1_5in.obj"/>
            </geometry>
            <sdf resolution="256" />
        </collision>
    </link>
</robot>