<?xml version="1.0"?>
<robot name="hexagon_peg">
    <link name="hexagon_peg">
        <visual>
            <!--origin xyz="0 0 0.01905" rpy="0 1.57079632679 0"-->
            <geometry>
                <mesh filename="../mesh/factory_insertion/hexagon_peg.obj"/>
            </geometry>
        </visual>
        <collision>
            <!--origin xyz="0 0 0.01905" rpy="0 1.57079632679 0"-->
            <geometry>
                <mesh filename="../mesh/factory_insertion/hexagon_peg.obj"/>
            </geometry>
        </collision>
    </link>
</robot>